

<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="img/logo.png" alt="" >
        <small class="d-block mb-3 text-muted">&copy; Software Development Project Group 2021</small>
      </div>
      <div class="col-6 col-md">
        <h5>Movies</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Coming Soon</a></li>
          <li><a class="text-muted" href="#">In-Cinemas Now!</a></li>
          <li><a class="text-muted" href="#">Top Rated Movies</a></li>
          <li><a class="text-muted" href="#">Latest Movies</a></li>
          <li><a class="text-muted" href="#"></a></li>
        
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Miscellaneous</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Search a Movie</a></li>
          <li><a class="text-muted" href="#">Rate a Movie</a></li>
          <li><a class="text-muted" href="#">Login</a></li>
          <li><a class="text-muted" href="#">Sign Up!</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
   
  </footer>
  
</div>


</body>
</html>