
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= title %></title>
        <link href="/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
        <link href="/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
        <link href="/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/admin/css/master.css" rel="stylesheet">
        <link href="/vendor/chartsjs/Chart.min.css" rel="stylesheet">
        <link href="/vendor/flagiconcss/css/flag-icon.min.css" rel="stylesheet">
    </head>
    
    <body>
        <div class="wrapper">
            <nav id="sidebar" >
                <div class="sidebar-header">
                    <img src="/img/logo-admin.png" width="100%" alt="bootraper logo" class="app-logo">
                </div>
                <ul class="list-unstyled components text-secondary">
                    <li>
                        <a href="/admin"><i class="fas fa-home"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="/admin/add_movie"><i class="fas fa-file-alt"></i> Add a Movie (Manually)</a>
                    </li>
                    <li>
                        <a href="/admin/List"><i class="fas fa-table"></i> All Movie List</a>
                    </li>
                    <li>
                        <a href="/import_data"><i class="fas fa-chart-bar"></i> Import Data (From API)</a>
                    </li>
                    
                    
                   
                    <li>
                        <a href="/"><i class="fas fa-user-friends"></i>Go back to Homepage</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-cog"></i>Web App Settings</a>
                    </li>
                </ul>
            </nav>