<%- include('partials/header.ejs'); %>

<div id="container">
    <main>
        <section class="grid" id="websiteInfo">
            <div class="contentWrap">
                <h2 class="contentTitle text-center">Now playing movies details and Trailers</h2>
                <p class="text-center">
                    My website displays all the latest information and trailers regarding now playing movies available in cinemas. It fetches all the data from theMovieDB website.
                </p>
            </div>
        </section>
  <section id="sectionnowPlaying">
   
       <div class="grid-container" id="nowPlaying">
         
       </div>
       
  </section>
</main>
    
</div>

<%- include('partials/footer.ejs'); %>