
		<%- include('partials/header.ejs'); %>
        <div class = "grid" id="movieDetails"></div>
		<h2 id="trailer_title">Trailer</h2>
		<div id="trailer"></div>
        <script src="js/movie-trailler.js"></script>
        <%- include('partials/footer.ejs'); %>